
<ul style="margin-left:20px;" class="topmenu">
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li class="dropdown">
        <a href="#" data-toggle="dropdown" class="dropdown-toggle">Faculties<span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li>@Html.ActionLink("Create", "Create", "Faculty")</li>
            <li>@Html.ActionLink("Update", "Index", "Faculty")</li>
            <li>@Html.ActionLink("List All", "Index", "Faculty")</li>
            <li>@Html.ActionLink("Delete", "Index", "Faculty")</li>
        </ul>
    </li>

    <li class="dropdown">
        <a href="#" data-toggle="dropdown" class="dropdown-toggle">Questions<span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li>@Html.ActionLink("Create", "Create", "Question")</li>
            <li>@Html.ActionLink("Update", "Index", "Question")</li>
            <li>@Html.ActionLink("List All", "Index", "Question")</li>
            <li>@Html.ActionLink("Delete", "Index", "Question")</li>
        </ul>
    </li>

    <li class="dropdown">
        <a href="#" data-toggle="dropdown" class="dropdown-toggle">Departments<span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li>@Html.ActionLink("Create", "Create", "Department")</li>
            <li>@Html.ActionLink("Update", "Index", "Department")</li>
            <li>@Html.ActionLink("List All", "Index", "Department")</li>
            <li>@Html.ActionLink("Delete", "Index", "Department")</li>
        </ul>
    </li>

    <li class="dropdown">
        <a href="#" data-toggle="dropdown" class="dropdown-toggle">Students<span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li>@Html.ActionLink("Create", "Index", "Student")</li>
            <li>@Html.ActionLink("Delete", "Index", "Student")</li>
        </ul>
    </li>

    <li class="dropdown">
        <a href="#" data-toggle="dropdown" class="dropdown-toggle">Sessions<span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li>@Html.ActionLink("Create", "Create", "Session")</li>
            <li>@Html.ActionLink("Update", "Index", "Session")</li>
            <li>@Html.ActionLink("List All", "Index", "Session")</li>
            <li>@Html.ActionLink("Delete", "Index", "Session")</li>
        </ul>
    </li>

    <li class="dropdown">
        <a href="#" data-toggle="dropdown" class="dropdown-toggle">Groups<span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li>@Html.ActionLink("Create", "Create", "Group")</li>
            <li>@Html.ActionLink("Update", "Index", "Group")</li>
            <li>@Html.ActionLink("List All", "Index", "Group")</li>
            <li>@Html.ActionLink("Delete", "Index", "Group")</li>
        </ul>
    </li>
</ul>

